
<form [formGroup]='forma'  (ngSubmit)="dodajVrstuKredista()" autocomplete="off" >
    <div class="row justify-content-center mt-3">
        <div class="col-4">
            <div class="form-group">
                <label> <strong>Kriterijum pretrage:</strong> </label>
                <input
                [class.is-invalid]='forma.get("kriterijum").errors && forma.get("kriterijum").touched'
                [class.is-valid]='forma.get("kriterijum") && forma.get("kriterijum").touched'
                type="text" 
                class="form-control"
                formControlName='kriterijum'
                >
                <div *ngIf="forma.get('kriterijum').hasError('required')" class="invalid-feedback"> Unesite kriterijum pretrage</div>            </div>
        </div>
    <div class="row justify-content-center mt-3">
        <div class="button-group mt-3 ml-3">
            <button [disabled]='!forma.valid' class="btn btn-success mr-2" type="submit">
                Potvrdi
            </button>
            <button (click)="resetujListu()" class="btn btn-danger" type="button">Resetuj listu</button>
        </div>
    </div>
</div>
</form>
    <table class="table table-striped mt-5">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Valuta</th>
            <th scope="col">Akcija</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of vrsteKredita1">
            <td>{{item.naziv}}</td>
            <td>{{item.valuta.naziv}}</td>
            <td><button class="btn btn-info" type="button" (click)="openModal(template,item.sifraVrsteKr)">Izmeni</button></td>
          </tr>
        </tbody>
      </table>





<div *ngIf="vrsteKredita1.length<1">
    <h1 class="text-center">Nema vrsti kredita sa datim imenom</h1>
    </div>



 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form " [formGroup]='formaIzmena' (ngSubmit)="izmeniVrstuKredista()">
        <div class="form-group">
            <label><strong>Naziv vrste kredita  : </strong></label>
            <input 
            [class.is-invalid]='formaIzmena.get("naziv").errors'
            [class.is-valid]='formaIzmena.get("naziv") ' 
            type="text" 
            class="form-control " 
            formControlName='naziv'>
            <div *ngIf="formaIzmena.get('naziv').hasError('required')" class="invalid-feedback"> Unesite naziv</div>
            <div *ngIf="formaIzmena.get('naziv').hasError('minlength')" class="invalid-feedback"> Unesite naziv od bar dva slova</div>
        </div>
        
        <div class="form-group">
            <label ><strong>Valuta  :</strong>  {{selectValue}}</label>
            <select
            class="form-control"
            formControlName='sifraValute'
            (change)="ChangingValue($event)"
            >
            <option  *ngFor="let item of vrsteValuta" [value]="item.sifraValute">
                {{item.naziv}}
            </option>
    
            </select>
            <button [disabled]='!formaIzmena.valid' class="btn btn-success mt-5">Izmeni vrstu kredita</button>
        </div>
    </form>

  </div>
</ng-template>